
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Pets Registration prototype
      </h1>

      <a href="scenario1/page1.html" class="govuk-link">
        Scenario 1: Register a dog
      </a>

      <a href="#" class="govuk-link">
        Scenario 2: Register a fish
      </a>


    </div>
  </div>

{% endblock %}
